body {
    background-color: #1c46e0;
}

.mainBody {
    background-color: #e0b61c;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin-left: 20%;
    margin-right: 20%;
    scale: 0.6;
}

.scoreboard {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #1c46e0;
    margin-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
    border-style: hidden;
    border-radius: 20px;
    color: white;
    font-size: larger;
}

.winnerOfRound {
    margin: 20px;
}

.restartButton {
    width: 50px;
    height: 50px;
    border: 2px;
    border-radius: 30px;
    border-style: solid;
    margin: 10px;
}

.restartButton:hover {
    scale: 1.2;
}

#rock, #paper, #scissors {
    scale: 0.7;
}

#rock:hover, #paper:hover, #scissors:hover {
    scale: 0.8;
}

.result {
    margin: 20px;
}

h1 {
    text-align: center;
}

label {
    font-weight: 700;
    text-decoration: underline;
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}